
.uul {
    width:100%;
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    text-align:center;
    margin: 0;
    padding: 0;
}

.uli {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        color:white;
        margin-right:10px;
}

.uli a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.uli a:hover:not(.active) {
    background-color: #ddd;
}

.uli a.active {
    color: white;
    background-color: #4CAF50;
}


.ttr {
width: 100%;
display: inline-table;
height:15%;
table-layout: fixed;
}


.ttable{
 height:300px;
 display: -moz-groupbox;
}
.ttbody{
  overflow-y: scroll;
  height: 250px;
  width: 100%;
  position: absolute;
}
