.modal-content  {
  border-radius: 15px !important;
}

.bootbox-dialog , .modal-header {
    text-align: left;
    background-color: #E6E6E6;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-color: #D8D8D8;
}

.bootbox-dialog , .modal-body {
  text-align: center;
}
